.container {
    width: 17rem;
    height: 30.625rem;
    animation: finish 1s;
    animation-iteration-count: 1
}

@keyframes finish {
    from {
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}