body{
    margin: 0;
    font: italic small-caps bold 16px/2 cursive;
    font-family: system-ui;
    background: rgba(90, 53, 253, 0.306);
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover {
    color:'#000000a6'
}
.fa-solid{
    cursor: pointer;
}