.checkbox-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Hide default checkbox */
  .checkbox-container input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Custom checkbox design */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 57px;
    background-color: #fff;
  }
  
  .checkmark:hover{
    background-color: #d4d4d4;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #73c073;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  

    @keyframes swim {
      0% {
        transform: translateY(0);
      }
  
      50% {
        transform: translateY(10px);
      }
  
      100% {
        transform: translateY(0);
      }
    }
  
    .swimming {
      animation: swim 0.5s 1;
    }
    

        .personal-image {
          display: table;
          text-align: center;
        }
    
        .personal-image input[type="file"] {
          display: none;
        }
    
        .personal-figure {
          position: relative;
          width: 120px;
          height: 120px;
        }
    
        .personal-avatar {
          cursor: pointer;
          width: 120px;
          height: 120px;
          box-sizing: border-box;
          border-radius: 100%;
          border: 2px solid transparent;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
          transition: all ease-in-out .3s;
        }
    
        .personal-avatar:hover {
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        }
    
        .personal-figcaption {
          cursor: pointer;
          position: absolute;
          top: 0px;
          width: inherit;
          height: inherit;
          border-radius: 100%;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0);
          transition: all ease-in-out .3s;
        }
    
        .personal-figcaption:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, .5);
        }
    
        .personal-figcaption>img {
          margin-top: 32.5px;
          width: 50px;
          height: 50px;
        }
      .triangle-right{
        border-top:
          18px solid transparent;
        border-bottom:
          18px solid transparent;
      }
      .triangle-right{
        border-left:
          30px solid rgb(90, 161, 75);
      }